cookiecutter==1.7.2
click==7.1.2
ruamel.yaml==0.16.12
pygithub==1.53
GitPython==3.1.11
autopep8==1.5.4
cffi==1.14.4
cryptography==3.2.1
requests==2.25.0
rich==9.3.0
packaging==20.7
appdirs==1.4.4
questionary==1.8.1
pynacl==1.4.0
