cookiecutter==1.7.2
click==7.1.2
ruamel.yaml==0.16.10
pygithub==1.51
GitPython==3.1.7
autopep8==1.5.3
cffi==1.14.1
cryptography==2.9.2
requests==2.24.0
rich==4.2.1
packaging==20.4
appdirs==1.4.4
questionary==1.5.2
pynacl==1.4.0
