name: Check version upgrade

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
        - name: Setup Python
          uses: actions/setup-python@v1
          with:
            python-version: 3.8

        - name: Install cookietemple
          run: git clone https://github.com/Imipenem/hubu

        - name: bla
          run: pip install hubu/

        - uses: actions/checkout@v2
          with:
              fetch-depth: 0
          name: Check out source-code repository

        - uses: oleksiyrudenko/gha-git-credentials@v1
          with:
               name: '{{ cookiecutter.github_username }}'
               email: '{{ cookiecutter.email }}'
               actor: '{% raw %}${{ github.actor }}{% endraw %}'
               token: '{% raw %}${{ secrets.CT_SYNC_TOKEN}}{% endraw %}'

        - name: Sync
          run: cookietemple sync . {% raw %}${{ secrets.CT_SYNC_TOKEN  }}{% endraw %} {% raw %}${{ github.repository_owner }}{% endraw %}
