name: cookietemple lint

on: [push]

jobs:
    run:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2
              name: Check out source-code repository

            - name: Setup Python
              uses: actions/setup-python@v3
              with:
                  python-version: 3.9

            - name: Install cookietemple
              run: pip install cookietemple=={{ cookiecutter.cookietemple_version }}

            - name: Run cookietemple lint
              run: cookietemple lint .
