@import "basic.css";

/*Color main components with a dark theme*/
div,
span,
code {
    background-color: #181a1b !important;
}

.wy-side-nav-search {
    background-color: #005fff !important;
}

.wy-side-nav-search div {
    background-color: #005fff !important;
}

.wy-side-nav-search form {
    background-color: #005fff !important;
}

.wy-side-nav-search .wy-form input {
    background-color: #2d2e2f !important;
}

.wy-side-nav-search .wy-form input:focus {
    background-color: #ffffff !important;
    color: #000000 !important;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

/*Font color is mainly white*/
.rst-content p,
li,
h1,
h2,
h3,
h4,
h5,
h6,
.highlight-console,
.n,
.section {
    color: #ffffff;
}

/*The side menu is slightly more grey and lighter than the overall theme*/
.wy-menu,
.wy-menu-vertical {
    background-color: #2d2e2f !important;
}

.wy-side-scroll {
    background-color: #2d2e2f !important;
}

.wy-menu .caption-text {
    background-color: #2d2e2f !important;
}

.caption-text {
    background-color: #181a1b !important;
}

.figure p {
    background-color: #181a1b !important;
}

/*Toctree wrapper on index page has a dark background unlike the other menu items*/
.toctree-wrapper .compound ul .toctree-l1,
.toctree-wrapper .compound ul .toctree-l2 {
    background-color: #181a1b !important;
    color: #005fff !important;
}

/*The current menu section has a blue background*/
.wy-menu-vertical li.toctree-l1.current li.toctree-l2 > a:hover {
    color: #ffffff !important;
    background: #005fff !important;
}

/*Subitems under the current section are displayed in grey again*/
.wy-menu-vertical li.toctree-l1.current li.toctree-l2 > a {
    color: #ffffff !important;
    background: #2d2e2f !important;
}

/*Current hovered item has a blue background*/
.wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a:hover {
    color: #ffffff !important;
    background: #005fff !important;
}

.wy-menu-vertical li.toctree-l3.current li.toctree-l4 > a {
    color: #ffffff !important;
    background: #2d2e2f !important;
}

.wy-menu-vertical li.toctree-l3.current li.toctree-l4 > a:hover {
    color: #ffffff !important;
    background: #005fff !important;
}

.wy-menu-vertical li.toctree-l2.current > a:hover {
    color: #ffffff !important;
    background: #005fff !important;
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a {
    color: #ffffff !important;
    background: #2d2e2f !important;
}

.wy-menu-vertical li.toctree-l1.current {
    color: #ffffff !important;
    background: #005fff !important;
    border-color: #005fff !important;
}

.wy-menu-vertical li.toctree-l1.current > a {
    color: #ffffff !important;
    background: #005fff !important;
    border-color: #005fff !important;
}

.wy-menu-vertical li.toctree-l1.current > a:hover {
    color: #ffffff !important;
    background: #005fff !important;
    border-color: #005fff !important;
}

/*The expand toctree items have the same background as its corresponding section*/
.wy-menu-vertical li.toctree-l1 a span.toctree-expand {
    background-color: #005fff !important;
}

.wy-menu-vertical li.toctree-l2 a span.toctree-expand {
    background-color: #2d2e2f !important;
}

.wy-menu-vertical li.toctree-l2 a:hover span.toctree-expand {
    background-color: #005fff !important;
}

.wy-menu-vertical li.toctree-l3 a span.toctree-expand {
    background-color: #2d2e2f !important;
}

.wy-menu-vertical li.toctree-l2.current a .toctree-expand {
    background-color: #2d2e2f !important;
    color: #ffffff !important;
}

.wy-menu-vertical li.toctree-l2.current a:hover .toctree-expand {
    background-color: #005fff !important;
    color: #ffffff !important;
}

.wy-menu-vertical li.toctree-l3.current a .toctree-expand {
    background-color: #2d2e2f !important;
    color: #ffffff !important;
}

.wy-menu-vertical li.toctree-l3 a:hover span.toctree-expand {
    background-color: #005fff !important;
}

.code .docutils .literal .notranslate .pre {
    background-color: #181a1b !important;
}

/*Color footer separately corresponding to overall dark theme*/
footer {
    color: #ffffff;
}

/*Color footer buttons in blue*/
.rst-footer-buttons a,
.rst-footer-buttons a:hover,
.rst-footer-buttons span {
    background-color: #005fff !important;
}

.wy-side-nav-search a {
    background-color: #005fff !important;
}

.version {
    background-color: #005fff !important;
    color: #ffffff !important;
}

/*Set max width to none so the theme uses all available width*/
.wy-nav-content {
    max-width: none;
}

/*Options style for each command or subcommand*/
/*Font color and background for a single option*/
dl .sig-name,
.pre,
.sig-prename {
    color: #fff;
    background-color: #000 !important;
    z-index: 1000;
}
/*Background of the container list for every option*/
dt {
    background-color: #000 !important;
    color: white !important;
    z-index: 1000;
}
span.viewcode-link,
span.sig-paren {
    background: black !important;
    z-index: 1000;
}
