{% if cookiecutter.command_line_interface|lower == 'click' %}
Click
{%- endif %}
Flask>=1.0.2
gevent==1.4.0
{% if cookiecutter.is_basic_website == 'n' -%}
Flask-Babel>=0.12.2
Flask-Mail>=0.9.1
configparser==4.0.2
wtforms==2.2.1
Werkzeug==0.16.1
flask-wtf==0.14.3
flask-sqlalchemy
flask-migrate==2.4.0
flask-login==0.4.1
flask-bootstrap==3.3.7.0{% endif %}
