name: Build Documentation

on:
    push:
        paths:
            - "docs/**"
    pull_request:
        paths:
            - "docs/**"

jobs:
    build:
        runs-on: ubuntu-latest
        if: "!contains(github.event.head_commit.message, '[skip ci]') && !contains(github.event.head_commit.message, '[ci skip]')"

        steps:
            - uses: actions/checkout@v2
              name: Check out source-code repository

            - name: Setup Python
              uses: actions/setup-python@v3
              with:
                  python-version: 3.9

            - name: Install pip
              run: |
                  python -m pip install --upgrade pip

            - name: Install doc dependencies
              run: |
                  pip install -r docs/requirements.txt

            - name: Build docs
              run: |
                  cd docs
                  make html

            - name: Deploy
              if: ${{ github.ref == 'refs/heads/master' && github.event_name == 'push' }}
              uses: peaceiris/actions-gh-pages@v3.8.0
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  publish_dir: ./docs/_build/html
