name: Run Codecov
on: [push, pull_request]

jobs:
  run:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip ci]') && !contains(github.event.head_commit.message, '[ci skip]')"
    strategy:
        matrix:
            python: [3.7, 3.8]
    steps:
    - uses: actions/checkout@master
    - name: Setup Python
      uses: actions/setup-python@v2.2.0
      with:
        python-version: ${{ matrix.python }}

    - name: Generate coverage report
      run: |
        pip install -r requirements_dev.txt -r requirements.txt
        pip install pytest-cov
        pytest tests/ --cov-config=.coveragerc --cov=cookietemple/ --cov-report=xml
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./coverage.xml
        flags: unittests
        name: codecov-umbrella
        fail_ci_if_error: false
